.spec {
  border: 1px solid rgba(54, 53, 53, 0.2);
  border-radius: 10px;
}
.payingmethod {
  border: 1px solid rgba(54, 53, 53, 0.2);
  border-radius: 10px;
}
.checkhead{

  background-color: #051922;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.checkhead .checklogo{
  width: 150px;
}

.batteryvariant{
  background-color: #fff1de54;
  border: 1px ridge #fff1de75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  border-radius: 5px;
  transition: 500ms;
}

.batteryvariant:hover{
  transform: scale(1.2);
}