.chat-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px; /* Adjust size as needed */
  z-index: 1000;
}

.chat-widget-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.scooter {
  width: 60px;
  height: 60px;
  border: 3px solid #F28123;
  outline: 3px solid black;
  /* height: 100px; */
  border-radius: 50%;
  object-fit: cover;
}

.chat-window {
  display: none; /* Hidden initially */
  position: fixed;
  bottom: 70px; /* Adjust based on button size */
  right: 20px;
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.chat-window-header {
  background-color: #F28123;
  padding: 10px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
}

.chat-window-body {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-window-footer {
  padding: 10px;
  display: flex;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-send-button {
  background-color: #F28123;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: #d65a0e;
}

/* Show the chat window when chatVisible is true */
.chat-window {
  display: block;
}

/* Chat notification styling */
.chat-notification {
  position: fixed;
  bottom: 90px; /* Adjust based on chat window size */
  right: 20px;
  background-color: #F28123;
  
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  font-size: 14px;
}
.chat-notification p{
  color: white !important;
  font-weight: 600;
}
