.order_image{
    width: 150px;
    height: 130px;
    object-fit:cover;
    margin-top:-25px ;
}

.order_invoice{
    color: red;
    /* background-color: transparent;
    border: none; */
    }
    
.order_cancel{
color: red;
background-color: transparent;
border: none;
}